# Ignore virtual environments
venv/
**/venv/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore environment and IDE settings
.env
*.env
.idea/
.vscode/

#Ignore image
project2/qep_tree.png
project2/aqp_tree.png